h1{
    color: blueviolet;
    background-color: rgb(223, 233, 241);
}
body{
    background-color: rgb(223, 233, 245);
}

label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
}
input{
    width: 30%;
    padding: 8px;
    margin: 5px;
    border: 1px solid;
}
button{
    width: 30%;
    padding: 10px;
    margin-top: 15px;
    background-color: darkgray;
    color: cadetblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

button:hover{
    background-color: rgb(173, 173, 231);
}